  <div class="container container-large">
    <div class="row">
      <div class="col l12 s12">
        <h5 class="white-text"><i class="fa fa-calendar"></i> Sunday, May 21, 2017</h5>
        <ul>
          <li><a class="text-lighten-3 white-text" href="https://goo.gl/maps/JNBvLCjgeLz"><i class="fa fa-map-marker"></i> McLean House - The Estates of Sunnybrook</a></li>
          {% if site.owner.email %}<li><a class="grey-text text-lighten-3" href="mailto:{{ site.owner.email }}"><i class="fa fa-send"></i>&nbsp;&nbsp;{{ site.owner.email }}</a></li>{% endif %}
        </ul>
      </div>
      <!--<div class="col l6 offset-l2 s12 right-align">
        <h5 class="white-text">{{ site.logo }}</h5>
        <p class="grey-text text-lighten-4">{{ site.description }}</p>
      </div>-->
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center-align">
      Built with <i class="fa fa-heart"></i> by <span class="white-text"></i>Amy &amp; Amir</a>
    </div>
  </div>
